<div class="container">
    <h1>About Me</h1>
    <h2>QuickLinks</h2>
      <div>
      <ul>
      <li><a href="/Assets/resume.pdf">My Resume</a></li>
      </ul>
      </div>
    <h2>Ofovwe Emmanuel Ewere</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet mauris felis, eu ultrices augue porttitor nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eleifend ligula nec risus venenatis sollicitudin sed eget mauris. Aenean sagittis vitae augue eu interdum. Morbi augue quam, fringilla eu nisl a, egestas fermentum sapien. Donec luctus in enim a tincidunt. Donec non massa ultricies tellus feugiat auctor sed at risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id sapien a erat imperdiet pellentesque.</p>
    <div><img img src="Assets/images/myimage.JPG"></div>
    
  </div>