<div class="container">
    <h1>Contact Me</h1>
    <div class="panel panel-default">
    <div class="panel-body">Ofovwe Ewere</div>
    <div class="panel-body">email: ewereeman@gmail.com</div>
    <div class="panel-body">phone number: +12042022189</div>
  </div>
  <div>
  <form id="contact-form">
        <div><input type="hidden" name="contact_number">
        <label>Name</label></div>
        
        <input type="text" name="user_name">
        <br>
        <label>Email</label></br>
        <div><input type="email" name="user_email"></div>
        
        <label>Message</label>
        <div><textarea name="message"></textarea></div>
        <form method="get" action="/home">
        <input type="submit" value="Clickable Button">
        </form>
        <input type="submit" onClick="/home" value="Send">
    </form>
    </div>
  
  
  </div>
  
  