<div >
    <h1>Contact Me</h1>
    <div class="panel panel-default">
    <div class="panel-body">Ofovwe Ewere</div>
    <div class="panel-body">email: ewereeman@gmail.com</div>
    <div class="panel-body">phone number: +12042022189</div>
  </div>

  <form id="contact-form">
        <input type="hidden" name="contact_number">
        <label>Name</label>
        <input type="text" name="user_name">
        <label>Email</label>
        <input type="email" name="user_email">
        <label>Message</label>
        <textarea name="message"></textarea>
        <input type="submit" value="Send">
    </form>
  
  
  </div>
  
  