<div class="container">
    <h1>Welcome to our site!</h1>
    <h2>Quick links </h2>
    <ul>
      <li><a href="cakes.html">About Us</a></li>
      <li><a href="cakes.html">Our Projects</a></li>
      <li><a href="cakes.html">Our Services</a></li>
      <li><a href="cakes.html">Contact</a></li>
    </ul>
  </div>