<div class="container">
    <h1>Welcome to our site!</h1>
    <h2>Quick links </h2>
    <ul>
      <li>About Us</li>
      <li>Our Projects</li>
      <li>Our Services</li>
      <li>Contact</li>
    </ul>
  </div>