<div class="container">
    <h1>My Projects</h1>
    <h2>Tappy Rover</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet mauris felis, eu ultrices augue porttitor nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eleifend ligula nec risus venenatis sollicitudin sed eget mauris. Aenean sagittis vitae augue eu interdum. Morbi augue quam, fringilla eu nisl a, egestas fermentum sapien. Donec luctus in enim a tincidunt. Donec non massa ultricies tellus feugiat auctor sed at risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id sapien a erat imperdiet pellentesque.</p>
    <div><img img src="Assets/images/tappyrover.png"></div>

    <h2>Recursive ray tracers research</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet mauris felis, eu ultrices augue porttitor nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eleifend ligula nec risus venenatis sollicitudin sed eget mauris. Aenean sagittis vitae augue eu interdum. Morbi augue quam, fringilla eu nisl a, egestas fermentum sapien. Donec luctus in enim a tincidunt. Donec non massa ultricies tellus feugiat auctor sed at risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id sapien a erat imperdiet pellentesque.</p>
    <div><img img src="Assets/images/graphics.png"></div>

    <h2>Web application development training</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet mauris felis, eu ultrices augue porttitor nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eleifend ligula nec risus venenatis sollicitudin sed eget mauris. Aenean sagittis vitae augue eu interdum. Morbi augue quam, fringilla eu nisl a, egestas fermentum sapien. Donec luctus in enim a tincidunt. Donec non massa ultricies tellus feugiat auctor sed at risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id sapien a erat imperdiet pellentesque.</p>
    <div><img img src="Assets/images/webapp.jpg"></div>
  </div>